Audio/data/combined
Audio/data/CREMA-D
Audio/data/RAVDESS
Audio/data/EmoDB
Audio/data/SAVEE
Audio/data/TESS
Audio/data/Neutral Content Said Emotionally database
Audio/data/NCSE_sorted
Audio/data/NCSE_sorted_normalized
Audio/data/bad_files
Audio/data/combined_normalized
Audio/data/TIL*
Audio/models
CV/data/
/.idea
*.zip
*.pt