Audio/data/combined
Audio/data/CREMA-D
Audio/data/RAVDESS
Audio/data/EmoDB
Audio/data/SAVEE
Audio/data/TESS
Audio/data/bad_files
Audio/data/combined_normalized
Audio/data/test
Audio/models
/.idea
*.zip
*.pt